<!DOCTYPE html>
<html>
<head>
    <h2>FAQs - Library Management System</h2>
</head>
<body>

<br><br>
<h3>Frequently Asked Questions</h3>
<br><br>

<h4>Getting Started</h4>

<p><b>1. How do I add new student to borrow a book?</b><br>
To add new student, click on the 'Manage Student' at the navigation bar. Then, click Add New Student. Just fill the form and click 'Add Student' button.</p>

<p><b>2. Where can I manage book?</b><br>
To mange Book, just navigate to the Manage Book section at the navigation bar. You can Add, Edit, and Delete the Book here.</p>

<br>
<h4>Using the Library</h4>

<p><b>3. What to do if the book is not available?</b><br>
If the book is not available, you can simply edit the Book Status in Manage Book page. Just click Edit and change the Book Status from 'Available' to 'Not Available'</p>

<p><b>4. What to do when the new stock of book arrived ?</b><br>
When the stock of books arrived, you need to update the Books. Just go to Manage Book and Add New Book. Fill in the details as asked.</p>

<p><b>5. What to do when student return the book?</b><br>
After student return the book, check the list at the Dashboard, then go to the Manage Student and Delete the student from the list.</p>

<br>
<h4>Troubleshooting</h4>

<p><b>6. I forgot my password. What do I do?</b><br>
If you forgot your password, click on 'Forgot Password' on the login page. Enter your email address and follow the prompts to reset your password.</p>

<p><b>7. I can't find the book I'm looking for. What can I do?</b><br>
If you can't find a book, it may be currently borrowed by another user or not available in our library. You can try again later, or request for the book to be added to our collection.</p>

<br>
<h4>Contact Us</h4>

<p>If you have any other questions, please feel free to contact us at supportlibrarian.com.my</p>

</body>
</html>
