<!DOCTYPE html>
<html>
    <br><br>
    <h1>Library Management System</h1>
    <h5>𝙈𝙖𝙣𝙖𝙜𝙚 𝙮𝙤𝙪𝙧 𝙡𝙞𝙗𝙧𝙖𝙧𝙮 𝙬𝙞𝙩𝙝 𝙚𝙖𝙨𝙚 𝙖𝙣𝙙 𝙚𝙛𝙛𝙞𝙘𝙞𝙚𝙣𝙘𝙮</h5>
<head>
</head>
<body>
    <br>
    <div class="container">
        <div class="student-data">
            <h2>Student List</h2>
            <!--showmessage alert for delete-->
            <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{successmsg}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div align="center">
              <table class="table">
                <thead>
                  <tr>
                    <td class="column-name" align= "center" scope="col">NO</td>
                    <td class="column-name" align= "center" scope="col">STUDENT NAME</td>
                    <td class="column-name" align= "center" scope="col">STUDENT ID</td>
                    <td class="column-name" align= "center" scope="col">BOOK TITLE</td>
                    <td class="column-name" align= "center" scope="col">BORROW DATE</td>
                    <td class="column-name" align= "center" scope="col">RETURN DATE</td>
                    <td class="column-name"align= "center" scope="col">TIME REMAINING</td>
            
                    <td scope="col"></td>
                    <td scope="col"></td>
            
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = 'let us of listData'>
                    <td align= "center"scope="row">{{us.Id}}</td>
                    <td align= "center">{{us.studentName}}</td>
                    <td align= "center">{{us.studentID}}</td>
                    <td align= "center">{{us.bookTitle}}</td>
                    <td align= "center">{{us.borrowDate}}</td>
                    <td align= "center">{{us.returnDate}}</td>
                    <td align= "center">{{us.timeLeft?.days}} days, {{us.timeLeft?.hours}} hours</td>
            
                    <td></td>
                    <td>
                  </tr>
            
                </tbody>
              </table>
            
            </div>
        </div>

        <div class="book-data">
            <h2>Book List</h2>
            <!--showmessage alert for delete-->
    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div align="center">
      <table class="table">
        <thead>
          <tr>
            <td class="column-name" align= "center" scope="col">ID</td>
            <td class="column-name" align= "center" scope="col">TITLE</td>
            <td class="column-name" align= "center" scope="col">AUTHOR</td>
            <td class="column-name" align= "center" scope="col">STATUS</td>
    
            <td scope="col"></td>
            <td scope="col"></td>
    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let us of listBook'>
              <td align= "center"scope="row">{{us.bookId}}</td>
              <td align="center" scope="row">{{ us.bookTitle }}</td>
              <td align="center">{{ us.bookAuthor }}</td>
              <td align="center">{{ us.bookStatus }}</td>
              <td></td>
          </tr>
      </tbody>
      </table>
  
      </div>
        </div>
    </div>
</body>
</html>
